*.o
*.d
*.obs
*.ini
*.local
*.nav
*.obj
*.exe
*.pdb
*.log
*.suo
*.json
*.idb
*.tlog
*.ilk
*.db
*.user
*.opendb
Release
Release_Build
Debug
Debug_Build
__history
__astcache
app/consapp/convbin/gcc/sbp2rinex
app/consapp/pos2kml/gcc/pos2kml
app/consapp/rnx2rtkp/gcc/rnx2rtkp
app/consapp/rtkrcv/gcc/rtkrcv
app/consapp/str2str/gcc/str2str
lib/iers/gcc/iers.a
build*/
